.about {
	position: relative;
	margin-top: 150px;
}

.my-info{
	padding: 20px;
	display: grid;
	display: flex;
	flex-direction: column;
	font-size: 18px;
}

.my-info >div{
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.my-info img{
	max-width:200px;
	float:left;
	margin-right: 20px;
	pointer-events:none;
	border-radius: 20px;
}

.my-info ul{
	list-style: none;
}

.my-info li{
	padding-bottom: 10px;
}

.my-info span{
	padding-left: 10px;
	font-style: italic;
	color: #555252;
	font-size: 18px;
}


.my-info a{
	color: red;
	text-decoration: none;
}
.my-info a:hover{
	color:green;
}

.content {
	position: relative;
	display: grid;
	grid-template: repeat(2, auto) / 1.2fr 0.8fr;
}

.content h3 {
	grid-column: 1/3;
	text-align: center;
	font-size:18px;
	padding: 20px;
}

.content-box {
	position: relative;
	grid-column: 1/2;
	grid-row: 2/3;
	max-height: 35vh;
	overflow: auto;
	padding: 10px 15px 0px 0px;
	margin-bottom: 15px;
}

.content-box p {
	font-size: 16px;
	padding-left: 20px;
}

.img-box {
	position: relative;
	grid-column: 2/3;
	grid-row: 2/3;
	overflow: hidden;
}

.img-box img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media (max-width: 850px) {
	.about {
		margin-top: 100px;
	}

	.content {
		position: relative;
		grid-template:auto 1fr 1.2fr / 100%;
	}

	.content p{
		padding: 0 20px;
	}
	
	.content-box {
		padding-right: 0;
	}

	.img-box {
		width: 100%;
		grid-column: 1/2;
		grid-row: 3/4;
		height: 100%;
	}
}


@media (max-width: 500px) {
	.my-info div{
		display: flex;
		flex-direction: column;
		align-items: center;
		float: none;
		gap: 15px;
	}

	.my-info img{
		max-width: 80vw;
		margin-right: 0;
	}
}