.works-items {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 20px;
}

.work-item {
	display: flex;
	flex-direction: column;
	padding: 20px;
	border: 3px solid #000;
	gap: 20px;
}

.work-item div{
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}
.work-item h3 {
	font-size: 25px;
	padding-left: 30px;
	text-transform: uppercase;
}
.work-item p {
	font-size: 18px;
	padding-left: 25px;
}
.work-item a {
	position: relative;
	min-width: 200px;
	padding: 10px 20px;
	background: #27022d;
	color: #fff;
	letter-spacing: 1px;
	font-size: 20px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	border: 1px solid #000;
	border-radius: 20px;
	overflow: hidden;
	transition: 0.5s;
}
._PC .work-item:nth-child(even) a:hover {
	background: #1e3de9;
	border: 1px solid #1e3de9;
}
._PC .work-item:nth-child(odd) a:hover {
	background: #fd1717;
	border: 1px solid #fd1717;
}

.work-item a:before {
	content: "";
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background: linear-gradient(30deg, transparent, #fff, transparent);
	transition: 0.5s;
}
._PC a:hover::before {
	left: 100%;
}

@media (max-width:600px){
	.work-item div{
		flex-direction: column;
	}
}

@media (max-width:340px){
	.work-item h3{
		font-size: 18px;
	}
	.work-item p{
		font-size: 15px;
	}
	.work-item a{
		padding: 5 10pxpx;
		min-width: 100px;
		font-size: 18px;
	}
}